.border-box-mission{
background-color: #0d6efd !important; 
padding: 5px;
color: white !important;
display: inline;

}
.border-box-mission-1{
background-color: #0d6efd !important; 
padding: 5px;
color: white !important;
display: inline;
}